<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pellcorp.android.flixbmc"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".FlixbmcClientApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/DefaultTheme"
        android:label="@string/app_name">

        <activity android:name=".NetflixWebViewActivity"
                  android:theme="@style/WebViewTheme"
            android:configChanges="orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SendToKodiActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.pellcorp.android.action.SEND_TO_KODI" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".PreferenceActivity"
                  android:label="@string/settings_label"
                  android:theme="@style/PreferencesTheme"/>
    </application>

</manifest>
